@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); 

@font-face {
    font-family: 'Roboto';
    src: url('/path/to/fonts/MyCustomFont.woff2') format('woff2'),
         url('/path/to/fonts/MyCustomFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

$color1: #EBE3F5;
$color2: #FEFEFF;
$color3: #D6CFFF;
$color4: #ABA0F9;
$color5: #7C80FC;
$color6: #FCDEF9;