

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<!-- le form -->
<form [formGroup] = "enregistrerAchatForm" (ngSubmit)="submitAchat()">
  <h4>Enregistrer un achat</h4>
  <div class = "champ"><!-- le champ pour l'identifiant du jeu -->
    <label for = "idJeuUnitaire" class="required">Numéro d'article : </label>
    <!-- la barre de recherche d'email -->
    <!-- formControlName="idJeuUnitaire" -->
    <input type="text"
         placeholder="taper le numéro d'article"
         [(ngModel)] = "inputJeuSelectionneId"
         ariel-label="idJeuUnitaire"
         matInput
         [matAutocomplete]="autoIdJeuUnitaire"
         (ngModelChange)="validateInput()"
         [ngModelOptions]="{standalone: true}">
    <!-- le menu déroulant -->
    <mat-autocomplete #autoIdJeuUnitaire="matAutocomplete">
      @for (ids of filteredIdJeuUnitaire| async; track setIdJeuUnitaireRestant) {
        <mat-option [value]="ids">{{ids}}</mat-option>
      }
    </mat-autocomplete>
    <!-- le bouton d'ajout -->
    <button type="button" (click)="ajouterJeu()" [disabled]="!this.isInputValid">
      <p>Ajouter</p>
      <!-- <i class='fas fa-plus' style='font-size:24px'></i> -->
    </button>
  </div>

  <div class = "liste-article">
    @for (jeu of this.jeuxSelectionne; track $index) {
      <app-detail-article
      [jeuUnitaire]= "jeu"
      (deleteJeuSelect)="onDeleteJeu($event)"
      ></app-detail-article>
    }
  </div>
  @if (this.jeuxSelectionne.length > 0) {
    <div class="champ">
      <div>
        <p>Prix d'achat des jeux : {{this.getPrixJeuxTotal()}} €</p>
        <p>Prix de la commission : {{this.getPrixCommission()}} €</p>
        <p>Prix total : {{this.getPrixTotal()}} €</p>
      </div>
    </div>

  }
  <div class="champ">
    Je confirme avoir reçu le montant à encaisser.<input type = "checkbox" formControlName="validationEncaissement">
  </div>

<!-- submit button  -->
<button
  id="submitbutton"
  type="submit"
  [disabled]="!enregistrerAchatForm.valid"
>
  Enregistrer l'achat
</button>

</form>
@if(errorMessage){
  <h5 id = "errormessage">{{errorMessage}}</h5>
}



