<div class="tabGestionnaire">
    <div>
        <div class="elt" *ngIf="sessionActuelle">
            <p>Session Actuelle</p>
            <div>
                <p> Titre :</p>
                <p> {{sessionActuelle.getTitre()}}</p>
            </div>
            <div>
                <p> Lieu :</p>
                <p> {{sessionActuelle.getLieu()}}</p>
            </div>
            <div>
                <p> Début :</p>
                <p> {{sessionActuelle.getDateDebut()}}</p>
            </div>
            <div>
                <p> Fin :</p>
                <p> {{sessionActuelle.getDateFin()}}</p>
            </div>
            <button *ngIf="OnAdminPage" (click)="modifierSession(sessionActuelle); onButtonClick(sessionActuelle)" [ngClass]="{'clicked': selectedSessionId === sessionActuelle.id}">Modifier</button>
            <button *ngIf="OnAdminPage" (click)="supprimerSession(sessionActuelle)">Supprimer</button>
    </div>
    <p>Session à venir</p>
    <div class="tab" [ngClass]="{'session-page': !this.OnAdminPage, 'gestion-session-page': this.OnAdminPage}">
        @for (session of tabSession; track session) {
        <div class="elt">
            <div>
                <p> Titre :</p>
                <p> {{session.getTitre()}}</p>
            </div>
            <div>
                <p> Lieu :</p>
                <p> {{session.getLieu()}}</p>
            </div>
            <div>
                <p> Début :</p>
                <p> {{session.getDateDebut()}}</p>
            </div>
            <div>
                <p> Fin :</p>
                <p> {{session.getDateFin()}}</p>
            </div>
            <button *ngIf="OnAdminPage" (click)="modifierSession(session); onButtonClick(session)" [ngClass]="{'clicked': selectedSessionId === session.id}">Modifier</button>
            <button *ngIf="OnAdminPage" (click)="supprimerSession(session)">Supprimer</button>
        </div>
        }
    </div>
</div>
