<div class="tabGestionnaire" [ngClass]="{'session-page': !this.OnAdminPage, 'gestion-session-page': this.OnAdminPage}">
    <div>
    <div class="tab" *ngIf="sessionActuelle">
        <p>Session Actuelle</p>
        <div class="elt">
            <div class="upper">
                <div>
                    <p> Titre :</p>
                    <p> {{sessionActuelle.getTitre()}}</p>
                </div>
                <div>
                    <p> Lieu :</p>
                    <p> {{sessionActuelle.getLieu()}}</p>
                </div>
                <div>
                    <p> Début :</p>
                    <p> {{this.formatDateToDDMMYYYY(sessionActuelle.getDateDebut())}}</p>
                </div>
                <div>
                    <p> Fin :</p>
                    <p> {{this.formatDateToDDMMYYYY(sessionActuelle.getDateFin())}}</p>
                </div>
                <button *ngIf="OnAdminPage" (click)="onButtonClick(sessionActuelle)" [ngClass]="{'clicked': selectedSessionId === sessionActuelle.id}">Modifier</button>
                <button *ngIf="OnAdminPage" (click)="supprimerSession(sessionActuelle)">Supprimer</button>
            </div>
            <div class="lower">
                <p> Description :</p>
                <p> {{sessionActuelle.getDescription()}}</p>
            </div>
        </div>   
    </div>
    <div class="tab">
        <p>Session à venir</p>
        @for (session of tabSession; track session){    
        <div class="elt">
            <div class="upper">
                <div>
                    <p> Titre :</p>
                    <p> {{session.getTitre()}}</p>
                </div>
                <div>
                    <p> Lieu :</p>
                    <p> {{session.getLieu()}}</p>
                </div>
                <div>
                    <p> Début :</p>
                    <p> {{this.formatDateToDDMMYYYY(session.getDateDebut())}}</p>
                </div>
                <div>
                    <p> Fin :</p>
                    <p> {{this.formatDateToDDMMYYYY(session.getDateFin())}}</p>
                </div>
                <button *ngIf="OnAdminPage" (click)="onButtonClick(session)" [ngClass]="{'clicked': selectedSessionId === session.id}">Modifier</button>
                <button *ngIf="OnAdminPage" (click)="supprimerSession(session)">Supprimer</button>
            </div>
            <div class="lower">
                <p> Description :</p>
                <p> {{session.getDescription()}}</p>
            </div>
        </div>
        }
    </div>
    </div>
</div>
