    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="gestionnaire" *ngIf="this.isAdmin()"(click)="this.router.navigate(['gestion/GestionGestionnaire'])">gérer gestionnaire</a>
        <a class="AjoutSession"*ngIf="this.isAdmin()" (click)="this.router.navigate(['gestion/GestionSession'])">Ajout Session</a>
        <a class="Mon compte" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/MonCompte'])">Mon compte</a>
        <a class="jeu" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/enregistrer-jeu'])">Enregistrer un jeu</a>
        <a class="achat" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/enregistrer-achat'])">Enregistrer un achat</a>
        <a class ="stock" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/stock'])">Gérer stock</a>
        <a class="retrait" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/retrait'])">Enregistrer un retrait</a>
        <a class="vendeur" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/vendeur'])">Enregistrer un vendeur</a>
        <a class="Dashboard" *ngIf="this.isGestionnaire()" (click)="this.router.navigate(['gestion/Dashboard'])">Dashboard</a>
        <a class="Catalogue" (click)="this.router.navigate(['catalogue'])">Catalogue</a>
        <a class="session" (click)="this.router.navigate(['session'])">Session</a>
        <a class="Déconnexion" *ngIf="this.isAuth()" (click)="logout()">Déconnexion</a>
        <a class="Connexion" *ngIf="!this.isAuth()" (click)="this.router.navigate(['gestion'])">Connexion</a>
    </nav>
