@import "../../../app/styles/variable";

form {
  margin-top: 3vh;
  background-color: $color3;
  padding: 20px;
  display: block;
  width: 60%;
  border-radius: 8px;
  border: 1px solid $color4;
  box-shadow: 0 0 8px rgb(46, 37, 66);
  margin-bottom: 2vh;
}

label, select {
  font-size: clamp(14px, 1.8vh, 1.8vh);
}

:host {
  display: flex;
  justify-content: center;
}

input {
  width: 60%;
  background-color: $color1;
  border: 1px solid $color3;
  height: 7vh;
  border-radius: 2.5vh;
  font-size: large;
}

button {
  justify-self: bottom;
  align-self: bottom;
  width: 30%;
  height: 8vh;
  background-color: $color4;
  border : none;
  border-radius: 2.5vh;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.3s;
}

.deleteGame {
  background-color: $color7;
  margin-top: 2.5vh;
}

.Ajouter{
  &.valid {
    background-color: $color4;
  }
  &.invalid {
    background-color: $color7;
  }
}

button:hover {
  filter: saturate(200%);
}

#retraitArgent {
  width: 10%;
}

.infoVendeur {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.retraitArgentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.retraitArgentDiv > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabElt {
  background-color: $color4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  max-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.elt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 0.2vh solid $color3;

}

.elt > div {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 100%;
}

#errormessage {
  color: red;
  margin-left: 10vh;
}

form > * {
  padding: 5px;
}

.champ {
  display: flex;
}

.champ > * {
  margin: 2vh;
}

.required::after {
  content: '*';
  color: red;
}

#submitbutton {
  margin-left: 32%;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: $color7;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#submitbutton:hover:not(:disabled) {
  filter: saturate(200%);
}

#submitbutton:disabled {
  background-color: lighten($color7, 15%);
  cursor: default;
}
