<div class="catalogue2-container">
  <!-- Left panel -->
  <div class="left-panel" [class.hidden]="filterMenuOpen">
    <p class="title">Zone de filtres</p>
    <!-- Zone de filtres en colonne -->
    <div class="filters">
      <form class="filter-form" [formGroup]="CatalogueForm" (ngSubmit)="submitNew()">
        <div class="filter-item">
          <label for="nom">Nom :</label>
          <input id="nom" type="text" placeholder="Nom..." formControlName="nom" />
        </div>
        <div class="filter-item">
          <label for="editeur">Éditeur :</label>
          <input id="editeur" type="text" placeholder="Éditeur..." formControlName="editeur" />
        </div>
        <div class="filter-item">
          <label for="prixMin">Prix Min :</label>
          <input id="prixMin" type="number" placeholder="Prix min..." formControlName="prixMin" min=0 />
        </div>
        <div class="filter-item">
          <label for="prixMax">Prix Max :</label>
          <input id="prixMax" type="number" placeholder="Prix max..." formControlName="prixMax" min=0/>
        </div>
        <button type="submit" class="apply-filters">Appliquer les filtres</button>
        <button type="button" class="reset-filters" (click)="resetFilters()">Réinitialiser les filtres</button>
      </form>
    </div>
  </div>


  <!-- Menu icon -->
  <div class="menu-icon" (click)="toggleFilterMenu()">
    <div class="bar1" [ngClass]="{'change': filterMenuIconOpened}"></div>
    <div class="bar2" [ngClass]="{'change': filterMenuIconOpened}"></div>
    <div class="bar3" [ngClass]="{'change': filterMenuIconOpened}"></div>
  </div>

  <!-- Right panel -->
  <div class="right-panel">
    <div class="scroll_panel">
      @if(!this.currentJeuInfo){
      <div class="pagination" *ngIf="currentmaxPage >= 1">
        <ul>
          <li *ngFor="let p of pages" [class.active]="p === selectedPage">
            <button [ngClass]="{current : p == this.selectedPage}"   [disabled]="p === selectedPage" (click)="goToPage(p)">
              {{ p }}
            </button>
          </li>
        </ul>
      </div>
      }



        <!-- Affichage du jeu sélectionné -->
        <div *ngIf="currentJeuInfo" class="jeuDetail">
          <h3>Détail du jeu</h3>
          <app-jeux-unitaire [jeu]="currentJeuInfo" [selected]="true"></app-jeux-unitaire>
        </div>

        <!-- Sinon, affichage du catalogue -->
        <div *ngIf="!currentJeuInfo" class="grid-region">
          <ul>
            <li *ngFor="let item of currentPage?.items">
              <app-jeux-unitaire [jeu]="item" [selected]="false"></app-jeux-unitaire>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('input[type="number"]').forEach(input => {
    input.addEventListener('input', () => {
      if (input.value < 0) input.value = Math.abs(input.value);
    });

    input.addEventListener('keydown', (e) => {
      if (e.key === '-' || e.key === 'e') {
        e.preventDefault();
      }
    });
  });
</script>
