<div class="dashboard">
    <app-dashboard [infoDashboard]="infoDashboard" [case]="case"></app-dashboard>
</div>
<div class="choiceSelect">
    <button class="choiceSession" (click)="choiceComponent(0)" [ngClass]="{'clicked': this.SelectedSearchComponent == 0}">Session</button>
    <button class="choiseVendeur" (click)="choiceComponent(1)" [ngClass]="{'clicked': this.SelectedSearchComponent == 1}">Vendeur</button>
    <button class="chercher" (click)="chercher()">Chercher</button>
</div>
<div class="Select">
    <app-search-tab-session  (sessionSelected)="onSessionSelected($event)" [class.hidden]="!(this.SelectedSearchComponent==0)"></app-search-tab-session>
    <app-search-tab-vendeur  (vendeurSelected)="onVendeurSelected($event)" [class.hidden]="!(this.SelectedSearchComponent==1)"></app-search-tab-vendeur>
</div>
