@import '../../styles/variable';

.SearchTabJeux {
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 93%;
    border-radius: 4vh;
    background-color: $color3;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1vh;
    max-height: 70%;
}


form {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

.AllForms {
    width: 100%;
    justify-self: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.AllForms div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vh;
    margin-bottom: 1vh;
}

.editeur, .nom {
    flex: 1;
}

.submit {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

form div {
    padding: 1vh;
}

input {
    width: 98%;
    background-color: $color1;
    border: 1px solid $color3;
    height: 7vh;
    border-radius: 2.5vh;
    font-size: large;
}

.button {
    flex :2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

button {
    justify-self: bottom;
    align-self: bottom;
    width: 100%;
    height: 7vh;
    background-color: $color4;
    border : none;
    border-radius: 2.5vh;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
}

.tabSession {
    margin-top: 3vh;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    border-radius: 4vh;
    max-height: 27vh; /* Limite la hauteur maximale à 80% de la hauteur de la vue */
    padding: 1vh;
    box-sizing:content-box;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    width: 95%;
    margin-bottom: 1vh;
    overflow-y:auto; /* Ajoute une barre de défilement si le contenu dépasse la hauteur de la vue */
    box-sizing:border-box;
    max-height: 30vh; /* Limite la hauteur maximale à 80% de la hauteur de la vue */
}

.elt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 14vh;
    width: 100%;
    align-self: center;
    background-color: $color4;
    border : 0.2vh solid black;
    box-sizing: border-box;
    max-width: 100%; 
    overflow: hidden;
    flex-shrink: 0;
  }

.modifier {
    background-color: $color5;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    height: 80%;
    justify-self: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.buttonModifier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding-bottom: 0.7vh;
    padding-top: 2vh;
    padding-right: 0.8vh;
    max-height: 8vh;

}

.clicked {
    background-color: $color7;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    padding: 0.5vh;
}

.info div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.description {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5vh;
}
