<div class="connexion">
    <h1>Connectez-vous</h1>
    <form [formGroup]="userGroup" (ngSubmit)="submit()">
        <div class="email formdata">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email"/>
        </div>
        <div class="password formdata">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password"/>
        </div>
        <button type="submit">Se connecter</button>
    </form>
</div>